# compiled output
**/dist
**/tmp
server/out-tsc

# IDEs and editors
**/.idea
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/*.orig
.vscode

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
**/.DS_Store
**/Thumbs.db

# Logs and backups
**/backup/
**/logs/
**/*.log

# misc
.env
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/key
**/*.pem
