:host {
  color-scheme: inherit;
}

svg text {
  fill: var(--hr-text-sec);
}

svg line {
  stroke: var(--hr-text-sec);
}

svg circle, svg path {
  stroke: var(--hr-text-sec);
}

.fill-white  { fill: white; }
.fill-yellow { fill: yellow; }
.fill-orange { fill: orange; }
.fill-red    { fill: red; }
