.mat-row {
  height: 48px;
  .mat-header-cell, .mat-cell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    &.number {
      text-align: right;
    }
  }
}

.mat-cell, .mat-header-cell {
  padding-left: 24px;
  padding-right: 24px;
}
