<section id="sponsor" class="section-block bg-dark-gray MARRVEL-dark-theme">
  <div class="container">
    <h3 class="banner-heading text-center mb-5">
      Stay up to date! Be the first to know about our latest updates
    </h3>
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="w-100 text-center">
          <a href="http://eepurl.com/co4V1P">
            <button mat-stroked-button>Subscribe</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
