<section id="sponsor" class="section-block bg-black footer MARRVEL-dark-theme">
  <div class="container">
    <img src="../../../../assets/img/marrvel_darkbg.svg" width="200px" class="mb-1">
    <p>Baylor College of Medicine
      Department of Pediatrics<br>
      Jan and Dan Duncan Neurological Research Institute at Texas Children’s Hospital<br>
      1250 Moursund St., Suite 1325<br>
      Houston, TX 77030
    </p>
    <p>832-824-8878</p>

    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="/about">About</a>
        <a href="/faq" class="ml-15px">FAQ</a>
        <a href="/feedback" class="ml-15px">Feedback</a>
        <a href="/brand" class="ml-15px">Brand</a>
      </div>
    </div>
  </div>
</section>
