@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.result-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;

  .sidenav-content {
    flex-grow: 1;
  }
}

.mat-drawer-container {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.77);
  font-weight: 300;
}

.section h1, .section h2, .section h3, .section h4,
.title h1,
.subtitle h4 {
  margin: 0px;
}
.title h1 {
  display: inline-block;
  color: rgba(0,0,0,.77);
  font-size: 2em;
  font-weight: 600;
}
.subtitle h4 {
  font-weight: 300;
  font-size: 0.85em;
  line-height: 1.6;
  color: rgba(0,0,0,.6)
}
h2 {
  font-size: 0.85em;
  letter-spacing: 0.025em;
  font-family: 'Times New Roman', Times, serif;
}
.label {
  font-weight: 500;
  uuuuuumargin-right: 0.5em;
}

@include media-breakpoint-down(sm) {
  .sidenav, .mat-sidenav {
    width: 0px !important;
  }
}


.sidenav-container,
.mat-sidenav-container {
  flex: 0 0 250px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 250px;
  width: 250px;
  height: 100vh;
  font-weight: 300;
  background-color: rgb(58, 58, 58);
  color: rgba(255,255,255,0.85);
  z-index: 2;
  overflow-y: auto;
  -webkit-transition: flex-basis 0.1s ease-in-out;
  -moz-transition: flex-basis 0.1s ease-in-out;
  -o-transition: flex-basis 0.1s ease-in-out;
  transition: flex-basis 0.1s ease-in-out;
  &.sidenav-closed {
    flex-basis: 72px;
    width: 72px !important;
  }
}

@media(max-width: 576px) {
  .sidenav-container {
    display: none;
  }
}

.sidenav-content {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
}

#OMIM .skeleton {
  width: 100%;
  height: 350px;
  background-image:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 80%
    ), // light
    radial-gradient(circle 12px at 12px,#f3f3f3 100%, transparent 0), // comment icon
    linear-gradient( #f3f3f3 40px, transparent 0 ), // comment
    linear-gradient( #f3f3f3 22px, transparent 0 ), // title 1
    linear-gradient( #f3f3f3 80px, transparent 0 ), // table contents 1
    linear-gradient( #f3f3f3 22px, transparent 0 ), // title 2
    linear-gradient( #f3f3f3 80px, transparent 0 ); // table contents 2
  background-repeat: no-repeat;
  background-size:
    50px 216px, // light
    24px 24px,  // comment icon
    80% 40px, // comment
    70% 22px,  // title
    100% 80px, // content
    70% 22px,  // title 2
    100% 80px; // content 2
  background-position:
    15px 42px,
    15px 42px,  // comment icon
    47px 42px, // comment
    15px 98px, // title 1
    15px 136px,  // table contents 1
    15px 232px, // title 2
    15px 270px;  // table contents 2
  animation: shine-omim 1s infinite;
}

@keyframes shine-omim {
  to {
    background-position:
      100% 42px,
      15px 42px,  // comment icon
      47px 42px, // comment
      15px 98px, // title 1
      15px 136px,  // table contents 1
      15px 232px, // title 2
      15px 270px;  // table contents 2
  }
}

#OMIMText.skeleton {
  width: 100%;
  height: 160px;
  background-image:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    linear-gradient( #f3f3f3 20px, transparent 0 ),
    linear-gradient( #f3f3f3 20px, transparent 0 ),
    linear-gradient( #f3f3f3 80px, transparent 0 );
  background-repeat: no-repeat;
  background-size:
    50px 200px,
    250px 200px,
    350px 200px,
    100% 200px;
  background-position:
    0 0,
    15px 0,
    15px 40px,
    15px 80px,
    15px 120px;
  animation: shine-omim-text 1s infinite;
}

@keyframes shine-omim-text {
  to {
    background-position:
      100% 0,
      15px 0,
      15px 40px,
      15px 80px,
      15px 120px;
  }
}
