.annot-wrapper {
  font-weight: 300;
  font-size: 0.85em;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.6);
}
.trpt-wrapper {
  font-size: 0.85rem;
  vertical-align: middle;
  &:not(:last-child) {
    margin-right: 0.5rem;
    &::after {
      content: ",";
    }
  }
}