<div class="text-center" [ngClass]="{ 'compact': compact }">
  <div class="row mb-3" [ngClass]="{'pr-xs-15px': compact}">
    <div [ngClass]="{
      'col-12 col-md-2 mb-10px': !compact,
      'col-12 text-left': compact
    }">
      <mat-form-field appearance="outline"
        [ngClass]="{
          'select-field-compact': compact,
          'w-100': !compact
        }"
      >
        <mat-label>Input Type</mat-label>
        <select matNativeControl [(ngModel)]="selectedInputType" (change)="onInputTypeChange($event)" name="inputType">
          <option value="gene">Human Gene</option>
          <option value="protein">Human Protein</option>
          <option value="vcf">Upload VCF File</option>
        </select>
      </mat-form-field>
    </div>

    <div [ngClass]="{
      'col-12 col-md-10': !compact,
      'col-12 col-lg-5 pr-0': compact
    }" *ngIf="selectedInputType == 'gene'">
      <mat-form-field appearance="outline" class="w-100" id="geneInputFormField">
        <mat-label>Human Gene Symbol (official HGNC symbol)</mat-label>
        <mat-chip-list #geneChipList>
          <mat-chip
            *ngIf="gene"
            removable
            (removed)="removeGene(gene)"
          >
            {{ gene.symbol }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input matInput
          #geneInput
          [formControl]="geneInputCtrl"
          (input)="onGeneInput($event)"
          [matAutocomplete]="auto"
          [matChipInputFor]="geneChipList"
          matChipInputAddOnBlur
          (matChipInputTokenEnd)="addGene($event)"
        >
        <mat-hint align="start" *ngIf="!compact"><strong>Please use official HGNC Gene Symbol</strong></mat-hint>
      </mat-form-field>
      
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="geneAutocompleteSelected($event)">
        <mat-option *ngFor="let aGene of geneSuggestion; let idx = index" [attr.data-index]='idx' [value]="idx">
          <span class="text-highlight">{{ aGene.symbol.substr(0, geneKeyword.length) }}</span>
          <span class="ml-0">{{ aGene.symbol.substr(geneKeyword.length) }}</span>
          <span class="float-right text-muted">{{ aGene.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
    <div [ngClass]="{
      'col-12 col-md-10': !compact,
      'col-10 col-lg-11 pr-0': compact
    }" *ngIf="selectedInputType == 'protein'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Human Protein</mat-label>
        <input matInput [(ngModel)]="protein">
      </mat-form-field>
    </div>

    <div [ngClass]="{
      'col-12': !compact,
      'col-10 col-lg-5 pr-0': compact
    }" *ngIf="selectedInputType == 'gene'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Human Variant (hg19)</mat-label>
        <input matInput
          [formControl]="variantInputCtrl"
          (input)="onVariantInput($event)"
        >
        <mat-error *ngIf="!variantInputCtrl.valid">
          Please check your variant format.
        </mat-error>
      </mat-form-field>
    </div>


    <div class="col-12 text-left search-box-example mb-5" *ngIf="!compact">
      <mat-hint *ngIf="selectedInputType === 'gene'">
        Example: 
        <a href="/human/pair/26235/6:99365567T>C">6:99365567 T>C / FBXL4</a>
        or
        <a href="/human/variant/6:99365567T>C">6:99365567 T>C</a>
        or
        <a href="/human/gene/26235">FBXL4</a>
        or
        <a href="/human/variant/NM_012160.3:c.541A>G">NM_012160.3:c.541A>G</a>
      </mat-hint>

      <mat-hint *ngIf="selectedInputType === 'protein'">
        Example:
        <a href="/human/protein/IRF2BPL:p.Pro372Arg">IRF2BPL:p.Pro372Arg</a>,
        <a href="/human/protein/IRF2BPL:p.P372R">IRF2BPL:p.P372R</a>,
        <a href="/human/protein/IRF2BPL:p.Gln126*">IRF2BPL:p.Gln126*</a>
      </mat-hint>
    </div>
    <div [ngClass]="{
      'col-12 text-center': !compact,
      'col-2 pr-0 text-left': compact
     }">
      <button mat-flat-button	color="primary"
        [ngClass]="{'button-compact': compact}"
        (click)="search()"
        [disabled]="!validateInput()"
      >
        <span *ngIf="!compact">Search</span>
        <mat-icon *ngIf="compact">search</mat-icon>
      </button>
    </div>
  </div>
</div>
