.hint {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(255,255,255,0.82);
}

.compact {
  margin-top: -27px;
}

.compact > div {
  position: relative;
  top: 17px;
}

.mat-chip-list {
  display: inline-block;
}

.search-box-example {
  margin-top: -0.75em;
}
.search-box-example mat-hint {
  font-size: 75%;
  font-weight: 600;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
