.fill-white {
  fill: white;
}
.fill-yellow {                                                                                                                    
  fill: yellow;
}
.fill-orange {
  fill: orange;
}
.fill-red {
  fill: red;
}
