<app-navbar></app-navbar>

<header class="page-header">
  <div class="container py-5">
    <div class="row mb-5 mt-5">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xs-12 text-center">
        <img src="../../../../assets/img/marrvel.svg" class="w-75">
      </div>
    </div>

    <app-search-box></app-search-box>

  </div>
</header>

<section id="about" class="section-block bg-light-gray">
  <div class="container">
    <h2>
      About
      <a href="/faq" class="section-more">
        More about MARRVEL
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
    </h2>
    <p>Wang J, Al-Ouran R, Hu Y, Kim SY, Wan YW, Wangler MF, Yamamoto S, Chao HT, UDN Consortium, Comjean A, Mohr SE, Perrimon N, Liu Z, Bellen HJ (2017) MARRVEL: integration of human and model organism genetic resources to facilitate functional annotation of the human genome. American Journal of Human Genetics. doi:&nbsp;<a href="https://doi.org/10.1016/j.ajhg.2017.04.010">10.1016/j.ajhg.2017.04.010</a>&nbsp;PMID:&nbsp;<a href="https://www.ncbi.nlm.nih.gov/pubmed/28502612">28502612</a></p>
    <p>
      Wang, J., Mao, D., Fazal, F., Kim, S.Y., Yamamoto, S., Bellen, H. and Liu, Z., 2019. Using MARRVEL v1. 2 for Bioinformatics Analysis of Human Genes and Variant Pathogenicity. Current Protocols in Bioinformatics, 67(1), p.e85, DOI: <a href="https://doi.org/10.1002/cpbi.85" target="_blank">10.1002/cpbi.85</a>. PubMed PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/31524990">31524990</a>; PubMed Central PMCID: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6750039" target="_blank">PMC6750039</a>.
    </p>
    <p>
      Wang J, Undiagnosed Diseases Network, Liu Z, Bellen HJ, Yamamoto S. Navigating MARRVEL, a Web-Based Tool That Integrates Human Genomics and Model Organism Genetics Information. J Vis Exp. 2019 Aug 15;(150). doi: <a href="https://doi.org/10.3791/59542" target="_blank">10.3791/59542</a>. PubMed PMID: <a href="https://www.ncbi.nlm.nih.gov/pubmed/31475990" target="_blank">31475990</a>.
    </p>
    <p>Multiple public variant databases exist where each database is studying a different cohort
        and providing different types of output.
        <strong>MARRVEL(Model organism Aggregated Resources for Rare Variant ExpLoration)</strong>
        allows users to search multiple public variant databases simultaneously
        and provides a unified interface to facilitate the search process.
    </p>
  </div>
</section>

<section id="sponsor" class="section-block">
  <div class="container">
    <div class="col-sm-12">
      <h2>With Support From:</h2>
      <div class="text-center">
        <a href="http://nri.texaschildrens.org/" target="_blank">
          <div class="sponsor">
            <img src="../../../../assets/img/nri.jpg">
          </div>
        </a>
        <a href="https://undiagnosed.hms.harvard.edu/research/model-organisms/" target="_blank">
          <div class="sponsor">
            <img src="../../../../assets/img/udn.png">
          </div>
        </a>
        <a href="https://www.bcm.edu/" target="_blank">
          <div class="sponsor">
            <img src="../../../../assets/img/bcm.png">
          </div>
        </a>
        <a href="http://www.flyrnai.org/cgi-bin/DRSC_orthologs.pl" target="_blank">
          <div class="sponsor">
            <img src="../../../../assets/img/DIOPT-logo.jpg">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="about" class="section-block bg-light-brand">
  <div class="container">
    <h2>
      Searchable databases
      <a href="/faq" class="section-more">More about data
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
  </h2>
    <p class="mt-5px mb-5px">
      <a target="_blank" href="http://exac.broadinstitute.org/" class="xsmall-margin-left">
        <b>ExAC</b>
      </a>
      &nbsp;
      Provides a control population frequency of variants (60,706 exomes).
      Cohorts are selected to exclude severe pediatric diseases.
    </p>
    <p class="mt-5px mb-5px">
      <a target="_blank" href="http://gnomad.broadinstitute.org/" class="xsmall-margin-left">
        <b>gnomAD</b>
      </a>
      &nbsp;
      Provides a control population frequency of variants (123,136 exomes and 15,496 genomes).
      Cohorts are selected to exclude severe pediatric diseases.
    </p>
    <p class="mt-5px mb-5px"><a target="_blank" href="http://www.mousephenotype.org/" class="xsmall-margin-left"><b>IMPC</b></a>&nbsp;
      Phenotype of knockout mouse lines.</p>
    <p class="mt-5px mb-5px"><a target="_blank" href="https://monarchinitiative.org/" class="xsmall-margin-left"><b>Monarch</b></a>&nbsp;
      Phenotype-genotype correlation across species.</p>
    <p class="mt-5px mb-5px"><a target="_blank" href="http://geno2mp.gs.washington.edu/Geno2MP" class="xsmall-margin-left"><b>Geno2MP</b></a>&nbsp;
      Cohort of 5,000 affected, as well as related but unaffected,
      individuals from Mendelian Genomics projects with limited phenotypic information.</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://www.omim.org/" class="xsmall-margin-left">OMIM</a></b>&nbsp;
      Online Mendelian Inheritance in Man.
      An Online Catalog of Human Genes and Genetic Disorders.</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://dgv.tcag.ca/dgv/app/home" class="xsmall-margin-left">DGV</a></b>&nbsp;
      Database of genomic variants.
      A curated catalogue of human genomic structural variation.</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="https://decipher.sanger.ac.uk/" class="xsmall-margin-left">DECIPHER</a></b>&nbsp;
      Common copy-number variants and their frequencies</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="https://www.ncbi.nlm.nih.gov/clinvar/" class="xsmall-margin-left">ClinVar</a></b>&nbsp;
      Public archive of reports of the relationships among human variations and phenotypes, with supporting evidence.</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="https://www.ebi.ac.uk/QuickGO/" class="xsmall-margin-left">QuickGO</a></b>&nbsp;
      Gene Ontology terms and annotations</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://www.proteinatlas.org/" class="xsmall-margin-left">ProteinAtlas</a></b>&nbsp;Protein (and gene/mRNA) expression database.</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://www.gtexportal.org/home/" class="xsmall-margin-left">GTEx</a></b>&nbsp;Gene (mRNA) expression database</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://www.flyrnai.org/cgi-bin/DRSC_orthologs.pl" class="xsmall-margin-left">DIOPT</a></b>&nbsp;Integrated ortholog prediction tool (human ⇋ model organisms)</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://www.yeastgenome.org/" class="xsmall-margin-left">SGD</a></b>&nbsp;Budding yeast (<i>Saccharomyces cerevisiae</i>)</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://www.pombase.org/" class="xsmall-margin-left">PomBase</a></b>&nbsp;Fission yeast (<i>Schizosaccharomyces pombe</i>)</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://www.wormbase.org" class="xsmall-margin-left">WormBase</a></b>&nbsp;Nematode worm (<i>Caenorhabditis elegans</i>)</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://flybase.org/" class="xsmall-margin-left">FlyBase</a></b>&nbsp;Fruit fly (<i>Drosophila melanogaster</i>)</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://zfin.org/" class="xsmall-margin-left">ZFIN</a></b>&nbsp;Zebrafish (<i>Danio rerio</i>)</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://www.informatics.jax.org/" class="xsmall-margin-left">MGI</a></b>&nbsp;Mouse (<i>Mus musculus</i>)</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="http://rgd.mcw.edu/" class="xsmall-margin-left">RGD</a></b>&nbsp;Rat (<i>Rattus norvegicus</i>)</p>
    <p class="mt-5px mb-5px"><b><a target="_blank" href="https://pharos.nih.gov/" class="xsmall-margin-left">PHAROS</a></b>&nbsp;Approved drugs and active ligands</p>
  </div>
</section>

<app-mailchimp></app-mailchimp>

<app-footer></app-footer>
