<mat-toolbar class="nav">
  <a class="nav-link home" href="/">
    <img alt="Home"
         [src]="themeService.isDark() ? '../../../assets/img/marrvel_darkbg.svg' : '../../../assets/img/marrvel.svg'"
         title="Home" class="nav-logo">
  </a>

  <div>
    <ul role="navigation">
      <li class="nav-button-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active-page" title="About">
          <span class="nav-link-inner">About</span>
        </a>
      </li>
      <li class="nav-button-item">
        <a class="nav-link" routerLink="/faq" routerLinkActive="active-page" title="FAQ">
          <span class="nav-link-inner">FAQ</span>
        </a>
      </li>
      <li class="nav-button-item">
        <a class="nav-link" href="http://v1.marrvel.org/message" routerLinkActive="active-page" title="FAQ">
          <span class="nav-link-inner">Feedback</span>
        </a>
      </li>
      <li class="nav-button-item">
        <a class="nav-link" href="/doc" routerLinkActive="active-page" title="FAQ">
          <span class="nav-link-inner">API</span>
        </a>
      </li>
    </ul>
  </div>

  <span class="flex-spacer"></span>

  <button class="theme-toggle-button"
    mat-icon-button
    [attr.aria-label]="themeService.isDark() ? 'Switch to light mode' : 'Switch to dark mode'"
    [matTooltip]="themeService.isDark() ? 'Light mode' : 'Dark mode'"
    (click)="themeService.toggle()"
  >
    <mat-icon>{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>

  <button class="nav-search-button nav-sm-only" *ngIf="showSearch"
    mat-icon-button aria-label="Do another search"
    (click)="searchOpened = !searchOpened"
  >
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>

<div class="nav-search-box nav-sm-only" *ngIf="searchOpened" [@toggle]="searchOpened">
  <div class="nav-search-inner">
    <app-search-box [compact]="true"></app-search-box>
  </div>
</div>
