.variant-protein {
  font-family: var(--hr-mono);
  font-weight: 500;
  color: var(--hr-text-sec);
}
.annot-wrapper {
  display: flex;
  align-items: center;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}
.trpt-wrapper {
  &:not(:last-child) {
    margin-right: 0.5rem;
    &::after {
      content: ",";
    }
  }
}