.summary .label {
  font-size: 0.85em;
}
.summary .data {
  display: block;
  padding-top: 0.2em;
  font-weight: 400;
  font-size: 1.8em;
}

.stick-bottom {
  position: absolute;
  left: 16px;
  bottom: 0px;
}
