@import './theme.scss';
@include angular-material-theme($MARRVEL-theme);
$primary-palette: map-get($MARRVEL-theme, primary);
/* You can add global styles to this file, and also import other style files */

/********************
 * Spacing
 * bootstrap
 * Section styling
 * Text styling
 * Form
 * Table
 * Misc.
 */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #333333;
  line-height: 1.4;
  font-weight: 300;
}
h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
}
a, .link-primary {
  color: mat-color($primary-palette, 900);
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active, .link-primary:hover, .link-primary:active {
  color: mat-color($primary-palette, 900);
  text-decoration: underline;
  cursor: pointer;
}
.color-primary {
  color: mat-color($primary-palette);
}

.bg-light-gray {
  background-color: #f8f8f8;
}
.bg-light-brand {
  background-color: mat-color($primary-palette, 50);
}
.bg-dark-gray {
  background-color: #222;
}
.bg-black {
  background-color: #0f0f0f;
}

.mat-flat-button.mat-primary {
  color: rgba(255,255,255,0.9);
}

/********************
 * Spacing
 */
$spacePxAmounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spacePxAmounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space}px {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p#{str-slice($side, 0, 1)}-#{$space}px {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

/********************
 * bootstrap
 */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/utilities";


/********************
 * Section styling
 */
.section-block {
  padding-top: 70px;
  padding-bottom: 70px;
  color: #5f5f5f;
  font-size: 14px;
}
.section-block h2 {
  color: #222;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0em;
  line-height: 1.4;
}
.section-more {
  float: right !important;
  margin-top: 7px;
  color: #999;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.4em;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.section-more .mat-icon {
  vertical-align: middle;
  margin-left: -7px;
  font-weight: lighter;
  font-size: 18px;
  margin-top: 4px;
}

/********************
 * Text styling
 */
 .text-uppercase {
   text-transform: uppercase;
 }

.text-highlight {
  background-color: rgba(105, 200, 190, 0.6) !important;
}

.text-underline-dashed {
  text-decoration: underline dashed #888;
}

span.mat-slide-toggle-content {
  font-size: 0.9em;
}

span.text-warning {
  color: #E5893E !important;
}
span.text-error {
  color: red !important;
}

/********************
 * Form
 */
.mat-form-field-type-mat-chip-list .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0 !important;
}

/********************
 * Table
 */
.mat-table {
  background: #fbfbfb !important;
}

.mat-paginator {
  background-color: #fbfbfb !important;
}

.mat-table .mat-row:hover {
  filter: brightness(0.95) !important;
}

/********************
 * Misc.
 */
.mat-drawer-container strong {
  font-weight: 400;
}
.select-field-compact .mat-form-field-wrapper {
  padding-bottom: 0px !important;
  margin: 0 !important;
}
.select-field-compact .mat-form-field-flex {
  padding: 0 .25em 0 .25em !important;
}
.select-field-compact .mat-form-field-outline-start,
.select-field-compact .mat-form-field-outline-gap,
.select-field-compact .mat-form-field-outline-end,
.select-field-compact span.mat-form-field-label-wrapper {
  display: none !important;
}
.select-field-compact .mat-form-field-infix {
  width: auto !important;
  padding-top: 0.25em !important;
  padding-bottom: 0.5em !important;
}

#modelGeneFormField .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

.mat-icon.icon-18px{
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.no-overlay.mat-button:hover .mat-button-focus-overlay {
  opacity: 0 !important;
}

.min-h-70px {
  min-height: 70px;
}

.scroll-x {
  overflow-x: scroll;
}
.h-auto {
  height: auto;
}

#vcfField .mat-form-field-infix {
  display: flex !important;
  padding: 0em 0em 0.55em 0em !important;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.loading-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  padding-top: 30vh;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.text-monospace {
  font-family: monospace !important;
}

div.plot-tooltip {
  position: absolute;
  text-align: left;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgba(0,0,0,0.2);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 9998;
  font-size: 10pt;
  color: #fff;
}

.legend:hover {
  cursor: pointer;
}
.legend-label {
  display: inline-block;
  font-size: 0.85em;
  vertical-align: middle;
}
.legend-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.legend-label.hidden,
.legend-color.hidden {
  opacity: 0.5;
}
.species-tag {
  width: 36px;
  overflow: hidden;
}
.mark {
  margin-left: 36px;
}
.mark-dot {
  color: green;
}
.mark-colon {
  color: blue;
}
.mark-asterisk {
  color: red;
}

.go-header-row,
.agr-header-row {
  padding-top: 133px;
  margin-bottom: 4px;
  font-size: 13px;
}
.go-org-icon-wrapper,
.agr-org-icon-wrapper,
.go-gene-symbol-cell,
.agr-gene-symbol-cell,
.go-diopt-score-wrapper,
.agr-diopt-score-wrapper,
.go-best-wrapper,
.agr-best-wrapper,
.go-row div,
.agr-row div,
.go-name-cell,
.agr-name-cell,
.go-cat-cell,
.agr-cat-cell,
.agr-group {
  display: inline-block;
  vertical-align: middle;
}
.go-gene-symbol-cell,
.agr-gene-symbol-cell {
  vertical-align: top;
  padding-top: 3px;
  padding-left: 0.5em;
  width: 70px;
  font-size: 12px;
  height: 20px;
}

.go-name-cell,
.agr-name-cell,
.go-cat-cell,
.agr-cat-cell {
  width: 18px;
  height: 18px;
  margin: 1px;
}
.go-name-cell,
.agr-name-cell {
  padding-top: 4px;
  padding-left: 2px;

  white-space: nowrap;
}
.go-name-cell .label,
.agr-name-cell .label {
  text-transform: capitalize;

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.go-name-cell.other,
.go-cat-cell-wrapper.other,
.agr-group:not(:last-child) {
  margin-right: 11px;
}

.go-row, .go-header-row {
  width: 1345px;
}
.go-row,
.agr-row {
  vertical-align: middle;
}
.go-row, .go-row .go-cat-cell-wrapper,
.agr-row, .agr-row .agr-cat-cell-wrapper {
  height: 20px;
}
.go-cat-cell,
.agr-cat-cell {
  border-radius: 2px;
  background-color: #f3f3f3;
}
.go-cat-cell.bg-blue,
.agr-cat-cell.bg-blue {
  background-color: #66c6be;
}
.go-cat-cell.bg-blue:hover,
.agr-cat-cell.bg-blue:hover {
  background-color: #66c6be;
  filter: brightness(1.05) !important;
  transition: linear;
}
.go-cat-cell.bg-blue:hover {
  cursor: pointer;
}
.go-cat-cell.bg-blue.selected {
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 3px #afafaf;
  filter: brightness(1.05);
  transition: linear;
}
.go-cat-cell.bg-gray,
.agr-cat-cell.bg-gray {
  background-color: #aaa;
}
.agr-row:hover .agr-gene-symbol-cell,
.agr-row:hover .agr-diopt-score-cell,
.agr-row:hover .agr-best-cell {
  font-weight: 500;
}

.go-org-icon-wrapper,
.agr-org-icon-wrapper {
  width: 20px;
  height: 20px;
  padding: 1px;
}
.go-org-icon-wrapper img,
.agr-org-icon-wrapper img {
  width: 18px;
  height: 18px;
  opacity: 0.35;
}
.agr-header-row .agr-diopt-score-wrapper,
.agr-row .agr-diopt-score-cell {
  font-size: 12px;
  line-height: 1;
  text-align: right;
}
.agr-diopt-score-wrapper,
.agr-diopt-score-cell {
  width: 50px;
}
.agr-header-row .agr-best-wrapper,
.agr-row .agr-best-cell {
  font-size: 12px;
  line-height: 1;
  padding-left: 0.5em;
}
.agr-best-wrapper,
.agr-best-cell {
  width: 40px;
}

.text-bold-blue {
  font-weight: 500;
  color: #66c6be;
}

.go-row:hover .go-cat-cell,
.agr-row:hover .agr-cat-cell,
.go-cat-cell.col-highlight,
.agr-cat-cell.col-highlight,
.go-cat-cell.bg-gray.col-highlight,
.agr-cat-cell.bg-gray.col-highlight {
  filter: brightness(0.95);
}

.go-reference:not(:last-child)::after,
.agr-reference:not(:last-child)::after {
  content: ", "
}

.color-primary {
  color:#66c6be
}

#human-result-container .mat-button.mat-primary {
  color: #4cb7ac !important;
}


.button-big {
  padding: 0.5em 2em !important;
  font-size: 1em !important;
}