$MARRVEL-brand: (
    50 : #eff9f9,
    100 : #d7f1f0,
    200 : #bde8e6,
    300 : #a3dedb,
    400 : #8fd7d4,
    500 : #7bd0cc,
    600 : #73cbc7,
    700 : #68c4c0,
    800 : #5ebeb9,
    900 : #4bb3ad,
    A100 : #ffffff,
    A200 : #dbfffd,
    A400 : #a8fffa,
    A700 : #8ffff9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$MARRVEL-cadmium-orange: (
    50 : #fcf1e8,
    100 : #f7dcc5,
    200 : #f2c49f,
    300 : #edac78,
    400 : #e99b5b,
    500 : #e5893e,
    600 : #e28138,
    700 : #de7630,
    800 : #da6c28,
    900 : #d3591b,
    A100 : #ffffff,
    A200 : #ffe1d4,
    A400 : #ffbea1,
    A700 : #ffac88,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$MARRVEL-paradise-pink: (
    50 : #fce8ee,
    100 : #f8c5d4,
    200 : #f49fb7,
    300 : #ef799a,
    400 : #eb5c85,
    500 : #e83f6f,
    600 : #e53967,
    700 : #e2315c,
    800 : #de2952,
    900 : #d81b40,
    A100 : #ffffff,
    A200 : #ffdae0,
    A400 : #ffa7b5,
    A700 : #ff8da0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$MARRVEL-gold-crayola: (
    50 : #fcf8ef,
    100 : #f7edd8,
    200 : #f1e2be,
    300 : #ebd6a3,
    400 : #e7cd90,
    500 : #e3c47c,
    600 : #e0be74,
    700 : #dcb669,
    800 : #d8af5f,
    900 : #d0a24c,
    A100 : #ffffff,
    A200 : #fffcf8,
    A400 : #ffeac5,
    A700 : #ffe0ac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$MARRVEL-honeydew: (
    50 : #f9fcfa,
    100 : #f0f7f2,
    200 : #e6f2ea,
    300 : #dbede1,
    400 : #d4e9da,
    500 : #cce5d4,
    600 : #c7e2cf,
    700 : #c0dec9,
    800 : #b9dac3,
    900 : #add3b9,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

