.mat-cell, .mat-header-cell {
  padding-left: 24px;
  padding-right: 24px;
}

.mat-row > .mat-header-cell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.summary .label {
  font-size: 0.85em;
}
.summary .data {
  display: block;
  padding-top: 0.2em;
  font-weight: 400;
  font-size: 1.8em;
}

.stick-bottom {
  position: absolute;
  left: 16px;
  bottom: 16px;
}
